body{
    width: 100vw;
    min-width: 341px;    
    margin: auto;
    background-color: $tertiary-color;
    background-image: url("../Ressources/Textures/1.png");
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: cover;
    font-family:  lato, Arial, Verdana, sans-serif;
    overflow-x: hidden;
    a{
      text-decoration: none;
      color: black;
    }
    @include mobile-style{
      @include justify-content-center;
      margin: 0;
    }
}

main{
    @include just-flex;
    width: 100vw;
    max-width: 1300px;
    padding: 25px;
    @include flex-wrap;
    margin: auto;
    @include justify-content-center;
    overflow: hidden;
    @include mobile-style{padding: 25px 0px 25px 0px;}
}

/*Background animation*/
.animation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -800;
    .particle, .particle:after { background: transparent;}
    .particle:after {
        position: absolute;
        content: "";
        top: $spacing;
    }
    .particle-1 {
        -webkit-animation: animParticle $time-1 linear infinite;
                animation: animParticle $time-1 linear infinite;
        @include particles(600);
        height: 1px;
        width: 1px;
        &:after {
            @include particles(600);
            height: 1px;
            width: 1px;
        }
    }
    .particle-2 {
        -webkit-animation: animParticle $time-2 linear infinite;
                animation: animParticle $time-2 linear infinite;
        @include particles(200);
        height: 2px;
        width: 2px;
        &:after {
            @include particles(200);
            height: 2px;
            width: 2px;
        }
    }
    .particle-3 {
        -webkit-animation: animParticle $time-3 linear infinite;
                animation: animParticle $time-3 linear infinite;
        @include particles(100);
        height: 3px;
        width: 3px;
        &:after {
            @include particles(100);
            height: 3px;
            width: 3px;
        }
    }
    .particle-4 {
        -webkit-animation: animParticle $time-4 linear infinite;
                animation: animParticle $time-4 linear infinite;
        @include particles(400);
        height: 1px;
        width: 1px;
        &:after {
            @include particles(400);
            height: 1px;
            width: 1px;
        }
    }
}      

