body {
	width: 100vw;
	min-width: 341px;    
	margin: auto;
	background-color: $tertiary-color;
	font-family:  lato, Arial, Verdana, sans-serif;
	overflow-x: hidden;
	a{
		text-decoration: none;
		color: black;
	}
	@include mobile-style{
		@include justify-content-center;
		margin: 0;
	}
}

main{
	@include just-flex;
	width: 100vw;
	max-width: 1300px;
	padding: 25px;
	@include flex-wrap;
	margin: auto;
	@include justify-content-center;
	overflow-x: hidden;
	@include mobile-style{padding: 25px 0px 25px 0px;}
}




