
/*Tags*/
.films, .series, .jeux-video, .bede,
.animes, .allTags, .livres{
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);//newshadow
  font-weight: bold;  
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid $fourth-color;
  background-color : $fourth-color;
  color: $primary-color;
  border-radius: 5px;
  cursor: pointer;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
    &:hover, &:active{
      font-weight: bold;  
      color: $tertiary-color;
      background-color: $primary-color;
      border: 1px solid $primary-color;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      @include truemobile-style{
        border: 1px solid $fourth-color;
        background-color : $fourth-color;
        color: $primary-color;
      }
    }
    @include mobile-style{font-size: 150%;}
    @include truemobile-style{font-size: 100%;}
}

/*Modal closing button*/
.close {
  position: absolute;
  right: 5px;
  top: 15px;
  width: 60px;
  height: 60px;
  opacity: 1;
  cursor: pointer;
  padding: 3px;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
    &:before, &:after {
      position: absolute;
      left: 30px;
      content: " ";
      height: 60px;
      width: 7px;
      background-color: $primary-color;
    }
    &:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
     -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     transform: rotate(-45deg);
    }
}