/*LOADER*/

.loader-background{
	position: fixed;
	width:100%;
	height: 100%;
	z-index: 999;	
	@include flex-row-centered;
	@include justify-content-center;
	overflow: hidden;
	overflow-x: hidden;
	visibility: hidden;
	-webkit-animation: fadeout 3s ease-in-out forwards;
	animation: fadeout 3s ease-in-out forwards;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0px;	
}

.loader {
	overflow: hidden;
	padding: 0px;
  border: 16px solid $primary-color;
  border-top: 16px solid $fourth-color;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;  
  margin: auto;
}

/*MAIN SECTION*/
.main-section{@include justify-content-center;}

/*QUIZCACRDS*/
.QuizCard{
	margin: 0px 5px 0px 5px;/**/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .main-QuizCard{
  	width: 270px;
	 	height: 411px;
	 	position: relative;
  	margin: 0 20px;
  	.thatQuiz{
  		cursor: pointer;
  		background-color : $primary-color;
  		background-image: url("../Ressources/Textures/2-200.png");//texture
			background-blend-mode: multiply;//texture
			background-size: contain;//texture
    	background-repeat: round;//texture
			@include justify-content-center;
  		@include flex-column;
 			margin: auto;
  		border-radius: 25px;
  		@include self-text-align;
  		width: 20%;
		  width: 230px;
		  position: absolute;
		  top: 0;
		  left: 20px;
		  z-index: 99;      
  		-webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);      
  		box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
			.portrait{
				pointer-events: none;
				@include portrait-style;
			  @include self-text-align;
			}
		  .name{
		  	pointer-events: none;
	  		margin: 10px 0px 15px 0px; 
			  color: $tertiary-color;
			  font-size: 175%;
			}
			.tags{display:none;}
		}
		.line-container{
			pointer-events: none;	    	
			padding-bottom: 5px;
			background: $fourth-color;
			color: white;
			width: 270px;
			height: 335px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			border-radius: 25px;
			position: absolute;
			top: 20px;
			-webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
			box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
			opacity: 0;
	    .line-content{
	    	pointer-events: none;
	 			padding: 5px;
  			width: 100%;
			  position: absolute;
  			bottom: 0;
  			text-align: center;
	    	p{
	    		pointer-events: none;
					padding: 5px 5px 10px 5px;
	  			margin: 0px 5px 5px 5px;
	  			font-size: 106%;
	    	} 
	    }
	  }
	}
	@include mobile-style{
		@include justify-content-center;
		margin: auto;
		@include self-text-align;
		width: 100vw;
		margin: auto;
		.main-QuizCard{
			width: 70vw;
			margin: auto;
			.thatQuiz{
				width: 70vw;
				margin: auto;
			}
			.line-container{
				opacity : 1;		    	
	 			width: 75vw;
	  		margin: auto;
	  		.line-content{
	  			width: 75vw;
	    		padding-top: 70px;
	    		p{
	    			font-size: 135%;
	    			margin: 0px 10px 10px 10px;
	    		}
	    	}
			}
		}
		@include truemobile-style{
			width: 90%;
			margin: auto;
			@include justify-content-center;
			.main-QuizCard{
				width: 90%;
				min-width: 276px;
				margin: auto;
				.thatQuiz{
					width: 85%;
					margin: auto;
				}	   		
	  		.line-container{
		  		opacity : 1;	    	
	  			width: 100%;
	  			margin: auto;
	  			height: 360px;
	    		.line-content{
		    		width: 100%;
	    			padding-top: 70px;
	    			p{
		    			font-size: 115%;
	    				margin: 0px 10px 10px 10px;
	    			}
	    		}
	    		@include truemobile-style{width: 98%;}
	    	}
			}
		}
	}
}

/*Reenable hover on quiz card once animated*/
.hovered{
	&:hover {
		.line-container {
			opacity: 1;
  		-webkit-animation: bounceIn 0.6s linear;
  		animation: bounceIn 0.6s linear;
  		@include truemobile-style{
	  		-webkit-animation: none;
	  		animation: none;
  		}
		}
	}
} 

/*SPECIALS TAGS*/

/*Walking dead comic book*/
.spe{
	-webkit-box-direction: normal;
  color: $tertiary-color;
  background-color: $primary-color;
  border-radius: 0px 25px 0px 25px;
  padding: 10px;
  text-align: center;
  font-weight: 1000;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
   position: absolute;
   right: 0%;
   top: 0%;
   z-index: 3;
   pointer-events: none;
 }

 /*GOT + 18*/
 .maj{
 	background-color: red;
 	color: $primary-color;
 }

/*FOOTER*/
footer{
  border-top: 4px solid $fourth-color;
  border-radius: 2PX;
  max-width: 1270px;
  margin: auto;
  padding: 15px;
  @include just-flex;
  @include justify-content-space-around;
   a{
    padding: 10px;
    font-size: 140%;
    margin: 0px 20px 0px 20px;
    @include self-text-align;
    color: $primary-color;
    border-radius: 5px;
    background-color: transparent;
    @include tablet-style{font-size: 160%;}
    @include mobile-style{font-size: 180%;}
    @include truemobile-style{font-size: 160%;}
      &:hover, &:active{
        font-weight: bold; 
        color: $tertiary-color;
        background-color: $primary-color;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
    }
}

/*Modals*/
.bground2{
	z-index: 100;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
  letter-spacing: 1px;  
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $around-modal-bg-color;
  .content2{
  	top: 20vh;
  	z-index: 100;
    margin: 5% auto;
    width: 50vw;
    height: auto;
    max-height: 90vh;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  -webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
	  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
	  border-radius: 15px;   
    border: 2px solid $primary-color;
    background: $tertiary-color;
    overflow: hidden;
    position: relative;
    padding: 20px;
    @include just-flex;
    @include justify-content-center;   
    font-size: 100%; 
    @include tablet-style{
	   		width: 70vw;
		  	height: auto;
			}     
    .modal-body2{
    	width: 100%;
    	height: 100%;    	
      padding: 40px 0px 0px 0px;
      .close{   
      	border-radius: 15px;   
      	&:before, &:after{background-color: $primary-color;}
      	&:hover{
    	    -webkit-transition: .4s;
			    -o-transition: .4s;
			    transition: .4s;
			    background-color: $primary-color;
			    &:before, &:after{background-color: $fourth-color;}
				}
				@include mobile-style{
					transform: scale(0.4);
					right: -5px;
    			top: -5px;
				}			 
      }
      .normalModal{      	
      	color: $primary-color;
       	text-align: justify;
       	font-size: 150%;
       	margin: 6px;
       	font-weight: bold;
       	@include mobile-style{font-size: 105%;}
      }
      .modal-form{  
      	flex-wrap: nowrap;   	
       	.formData{
       		padding: 10px;
	       	@include just-flex;
	       	@include justify-content-center; 
       		label{
       			@include self-text-align;  
      			width: 40%;      			
      			padding: 5px;
      			margin: 5px;
      			color: $primary-color;
      			background-color: $fourth-color;
      			border-radius: 5px;
       			text-align: center;
       			font-size: 150%;     
       			font-weight: bold;
      		}
	      	input{	
	      		@include self-text-align;       
	         	font: 1.5em lato, Arial;
	        	color: $fourth-color;
	        	font-weight: bold;	
	        	width: 40%;
	        	padding: 5px; 
	        	margin: 5px;  
	        	border-radius: 5px      	
		      }
		      @include mobile-style{
	       		@include flex-column;	       		
	       		label, input{
	       			width: 70%;
	       			font-size: 105%;
	       		}	       		
      	 	}
      	 	@include truemobile-style{
      			padding: 10px 0px 0px 0px;   
	       		@include flex-column;
	       		label, input{width: 100%;}	       		
      	 	}  
		    }
		    .btn-wrapper{
		    	margin-top: 15px;
	       	@include just-flex;
	       	@include justify-content-center; 		    	
			    .btn {
			    	min-width: 183px;
		      	flex-wrap: nowrap;
		      	width: 35%;
		      	height: auto;      		
		      	margin: auto;
		      	color: $fourth-color;
		    		background: $primary-color;  			
					  font-weight: bold;
					  font-size: 150%;
					  border-radius: 5px;
					  cursor: pointer;
					  border: none;
					  outline: none;
					  padding: 4px;
					  -webkit-user-select: none;
					  -moz-user-select: none;
					  -ms-user-select: none;
					  user-select: none;
					  @include self-text-align;  
					  &:hover{
						  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
		        	animation: heartbeat 1.5s ease-in-out infinite both;
					  }
					  @include mobile-style {	font-size: 105%;}
					}
	     	} 
      }    
   	}
   	@include mobile-style{font-size: 90%;}
   	@include mobile-style{top: 5vh;}	   	 
	 }	  
	}

  .contre p{
    -webkit-animation: heartbeat 2s ease-in-out infinite alternate both;
    animation: heartbeat 2s ease-in-out infinite alternate both;
  }

  /*About Modal*/
  .openAbout{
  	.content2{  		
  		top: 5vh;
  		//height: 70vh;
  		.openAboutp{
  			color: $primary-color;
       	text-align: center;
       	font-size: 150%;
       	margin: 6px;
       	font-weight: bold;
  		}
  		.modal-body2{@include justify-content-center;}
  	}

  }