
/*///BANNER/////*/
.banner{
  @include flex-column;
  width: 100%;  
  min-width: 225px;   
  height: 250px; 
  border-radius: 20px;
  background-size: 100%;
  background-repeat : no-repeat;
    h1{
      margin-top: 170px;
      font-size: 130%;
      padding: 17px;
      @include self-text-align;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      color: $tertiary-color;
    }
  @include truemobile-style{
    border-radius: 0px;
    width: 100vw;
  }
}

/////Restyling images/////
.bannerKaamelott{background-position: 50% 35%;}
.bannerAlien{background-position: 50% 50%;}
.bannerGame_Of_Thrones{background-position: 50% 10%;}
.bannerFight_Club{background-position: 50% 60%;h1{background-color: rgba(255, 255, 255, 0.85);}}
.bannerDisney{background-position: 50% 40%;}
.bannerAHS{background-position: 50% 20%;}
.bannerFallout{background-position: 50% 30%;h1{background-color: rgba(255, 255, 255, 0.85);}}
.bannerThe_Walking_Dead{background-position: 50% 25%;h1{background-color: rgba(255, 255, 255, 0.9);}}
.bannerMatrix h1{background-color: rgba(255, 255, 255, 0.85);}
.bannerDune{background-position: 50% 50%;}


/*//////border logo/////*/
header{#logo{border-bottom: 0px;}}

/*//////MAIN SECTION/////*/
main{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  color: $primary-color;
  @include mobile-style{
    @include flex-column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
    h3{
      color: $primary-color;
      font-size: 1.5rem;
    }  
    .container{
      .choices{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 3rem auto 3rem;
        width: 500px;
      }
     @include mobile-style{
        h2{
          width: 80%;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          @include self-text-align;
          margin: auto;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
        }
        .choices{
          width: 80%;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          @include self-text-align;
          margin: auto;
        }
      }
    }
    #progress {
      font-size: 1.3rem;
      color: $primary-color;
    }
    button {
      color: $tertiary-color;
      background: $primary-color;
      border: 1px solid $primary-color;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
      flex: 1 0 45%;
      width: 200px;
      min-height: 80px;
      height: auto;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      margin: .4rem;
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: 600;
      &:hover{
        color: $primary-color;
        background: $fourth-color;
        border: 1px solid $fourth-color;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        @include truemobile-style{
          background: $primary-color;
          color: $tertiary-color;
        }
      }
      &:active{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transition: -webkit-transform .1s;
        transition: -webkit-transform .1s;
        -o-transition: transform .1s;
        transition: transform .1s;
        transition: transform .1s, -webkit-transform .1s;
        @include truemobile-style{
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
        }
      }
      p{
        font-size: 1.3rem;
        margin: 0;
      }
    }
    .retryOrLeave {
      margin-top: 25px;
        button{
          @include justify-content-center;
          height: 40px;
          max-height: 40px;
          min-height: 40px;
          color: $primary-color;
          background: $fourth-color;
          border: 1px solid $fourth-color;
          &:hover{
            border: 1px solid $tertiary-color;
            background: $primary-color;
            color: $tertiary-color;
            -webkit-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
            @include truemobile-style{
              background: $tertiary-color;
              color: $primary-color;
            }  
          }
          p{font-size: 0.9rem;}
        }
    }
  }

/*///ANSWERS DISPLAYING /////*/

.all-in-one{
  @include flex-column;
  @include justify-content-center;
    p{font-size : 120%;}
    .h2-quiz{
      -webkit-box-flex : 1;
      -ms-flex : 1;
      flex : 1;
      color: white;
      margin: 0;
    }
    .h3-quiz{
      margin: 0;
      -webkit-box-flex : 1;
      -ms-flex : 1;
      flex : 1;
    }
    @include mobile-style{padding: 0px 30px 0px 30px;}
  }

 

