/*ONLOAD ANIMATION*/

/*Banner, Title, Progress & Retry or leave*/
.jelloBanner{
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.animTitle{
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}
.animprogress{
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
.retryAnim{
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.4s both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.4s both;
}

/*Quiz Buttons*/
.animbutton0{
    -webkit-animation: flip-in-hor-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
            animation: flip-in-hor-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}
.animbutton1{
    -webkit-animation: flip-in-hor-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
            animation: flip-in-hor-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
.animbutton2{
    -webkit-animation: flip-in-hor-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.4s both;
            animation: flip-in-hor-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.4s both;
}
.animbutton3{
    -webkit-animation: flip-in-hor-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
            animation: flip-in-hor-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
}


/*QUIZ NAME*/
.nameOfQuiz{
  padding-left:20px;
  font-size: 400%;
  font-weight: 150;
  letter-spacing: .2rem;
  color :$primary-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  @include tablet-style{
    padding: 0;
    margin: auto;
  }
  @include truemobile-style{
    font-size: 200%;
    letter-spacing: unset;
  }
}

/*BANNER*/
.banner{
  @include flex-column;
  width: 100%;  
  min-width: 225px;   
  height: 250px; 
  border-radius: 20px;
  background-size: 100%;
  background-repeat : no-repeat;
  h1{
    margin-top: 170px;
    font-size: 130%;
    padding: 17px;
    @include self-text-align;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    color: $tertiary-color;
  }
  @include truemobile-style{
    border-radius: 0px;
    width: 100vw;
  }
}

/*RESTYLING BANNER IMAGE*/
.bannerKaamelott{background-position: 50% 35%;}
.bannerAlien{background-position: 50% 50%;}
.bannerGame_Of_Thrones{background-position: 50% 10%;}
.bannerFight_Club{background-position: 50% 60%;h1{background-color: rgba(255, 255, 255, 0.85);}}
.bannerDisney{background-position: 50% 40%;}
.bannerAHS{background-position: 50% 20%;}
.bannerFallout{background-position: 50% 30%;h1{background-color: rgba(255, 255, 255, 0.85);}}
.bannerThe_Walking_Dead{background-position: 50% 15%;h1{background-color: rgba(255, 255, 255, 0.9);}}
.bannerMatrix h1{background-color: rgba(255, 255, 255, 0.85);}
.bannerDune{background-position: 50% 50%;}

/*BORDER LOGO*/
header{#logo{border-bottom: 0px;}}

/*MAIN SECTION*/
main{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  color: $primary-color;
  @include mobile-style{
    @include flex-column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  h3{
    color: $primary-color;
    font-size: 1.5rem;
  }
  .container{
    #question{letter-spacing: 1px;}
    .choices{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 3rem auto 3rem;
      width: 500px;
    }
    @include mobile-style{
      h2{   
        width: 80%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        @include self-text-align;
        margin: auto;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
      }
      .choices{
        width: 80%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        @include self-text-align;
        margin: auto;
      }
    }
  }
  #progress {
    font-size: 1.3rem;
    color: $primary-color;
  }
  button {
    color: $tertiary-color;
    background: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-flex: 1;
    -ms-flex: 1 0 45%;
    flex: 1 0 45%;
    width: 200px;
    min-height: 80px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: .4rem;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    &:hover{
      color: $primary-color;
      background: $fourth-color;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      @include truemobile-style{
        background: $primary-color;
        color: $tertiary-color;
      }
    }
    p{
      font-size: 1.3rem;
      margin: 0;
    }
  }
  .retryOrLeave {
    margin-top: 25px;
    button{
      @include justify-content-center;
      height: 40px;
      max-height: 40px;
      min-height: 40px;
      color: $primary-color;
      background: $fourth-color;
      border: 1px solid $fourth-color;
      &:hover{
        border: 1px solid $tertiary-color;
        background: $primary-color;
        color: $tertiary-color;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        @include truemobile-style{
          background: $tertiary-color;
          color: $primary-color;
        }  
      }
      p{font-size: 0.9rem;}
    }
  }
}

/*ANSWERS DISPLAYING*/
.all-in-one{
  @include flex-column;
  @include justify-content-center;
  p{font-size : 120%;}
  .h2-quiz{
    -webkit-box-flex : 1;
    -ms-flex : 1;
    flex : 1;
    color: white;
    margin: 0;
  }
  .h3-quiz{
    margin: 0;
    -webkit-box-flex : 1;
    -ms-flex : 1;
    flex : 1;
  }
  @include mobile-style{padding: 0px 30px 0px 30px;}
} 

/*Result modal*/
.bground2{
  letter-spacing: 1px;
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $around-modal-bg-color;
  .content2{
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background: $tertiary-color;
    -webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    border-radius: 15px;   
    border: 2px solid $primary-color;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
    height: 100%;
    max-height: 500px;
    @include just-flex;
    @include justify-content-center;
    //top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    p{
      line-height: 90%;
      font-size: 250%;
      text-align: left;
      font-weight: 600;
    }
    .modal-body2{
      margin: 15px auto;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      @include justify-content-center;
      .reaction{
        padding: 10px;
        @include flex-column;
        @include justify-content-center;
        h1{
          width: 60%;            
          padding: 5px 10px 5px 10px;
          border: 1px solid $fourth-color;
          background-color : $fourth-color;
          color: $primary-color;
          border-radius: 5px;
          @include self-text-align; 
          @include truemobile-style{width: 80%;}   
        }
        p{
          font-size: 200%;
          @include self-text-align;
          color: $primary-color;
          @include flex-wrap;
          line-height: 120%;  
          padding: 0px 20px 0px 20px; 
          @include truemobile-style{font-size: 150%;}        
        }  
      }
    }
    @include mobile-style{
      max-width: 480px;
      top: 7vh;
    }
    @include truemobile-style{
      max-width: 80vw;
      min-width: 298px;      
    }
  }          
}

.thatPlayer{
  background-color: $fourth-color;
  color: $primary-color;
  border-radius: 5px;
  padding: 5px;
  width: 50vh;
  margin: auto;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  -webkit-animation: heartbeat 2.8s linear infinite 0.8s both;
  animation: heartbeat 2.8s linear infinite 0.8s both;
}